/vendor/
/node_modules/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
docker-compose.override.yml
.DS_Store
Thumbs.db
/build/
/coverage/
*.log
*.cache
.php-cs-fixer.cache
.phpstan/
setup-package.sh